html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script
            include ./jQuery.js  
            include ./torneo.js
        script.
            function inizializza(){
                localStorage.setItem("id_movie", #{movie.id});
                localStorage.setItem("prefix_poster_path", "#{config.images.base_url}" + "#{config.images.backdrop_sizes[0]}");
            }
        title Movie Card
    body#body(onload="inizializza()") 
        div.
            Sessione attuale: #{id_session}
        h1#title1= movie1.title
        h1#title2= movie2.title
        h3#overview1= movie1.overview
        h3#overview2= movie2.overview
        p#rating1= movie1.rating
        p#rating2= movie2.rating
        div#poster1
            img(src= config.images.base_url + config.images.backdrop_sizes[0] + movie1.poster_path)
        div#poster2
            img(src= config.images.base_url + config.images.backdrop_sizes[0] + movie2.poster_path)
        br
        p.
            Fai la tua scelta #{username}
        button#sinistra= movie1.title 
        button#destra= movie2.title