extends layouts
block content
    div.container
        div.d-flex.justify-content-center
                h2.my-2 #{movie.title}
        div.row
            div.col.justify-content-center
                div#genres.d-flex.flex-wrap.justify-content-center.my-2(style="gap: 10px;")
                p #{movie.overview}
                div#rating.progress.my-2
            div.col
                img(src= config.images.base_url + config.images.backdrop_sizes[0] + movie.poster_path)
    script.
        let M = !{JSON.stringify(movie)};
        for(let i = 0; i < M.genres.length; i++) {
            $('#genres').append(`<div class="p-2 badge rounded-pill text-bg-secondary" style="font-size: 13px;">${M.genres[i].name}</div>`);
         }
        $('#rating').append(`<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: ${M.vote_average * 10}%;" aria-valuenow="${M.vote_average * 10}" aria-valuemin="0" aria-valuemax="100">Rating: ${M.vote_average}</div>`);
        if(M.vote_average < 3.3){
            $('#rating').children().addClass('bg-danger');
        }else if(M.vote_average < 6.6){
            $('#rating').children().addClass('bg-info');
        }else{
            $('#rating').children().addClass('bg-success');
        }