extends layouts
block content
    link(rel="stylesheet" href="/css/movie-details.css")
    div.container
        div#titleContainer.d-flex.justify-content-center.my-4
            h2 #{movie.title}
        div.containerGrid(style="border: 3px solid black; border-radius: 20px;  background-color: #383434; background-clip: padding-box;")
            div.col1(style="padding: 10px;")
                div.row.innerGrid
                    div.col3.d-flex.justify-content-center(style="align-self: start;")
                        img(src= config.images.base_url + config.images.backdrop_sizes[0] + movie.poster_path, style="width: 100%; height: 100%; border-radius: 20px;")
                    div.col4
                        div#rating.progress.my-2(style="background-color: black;")
                        div.my-2 Release date: #{movie.release_date}
                        h5 Genres:
                        div#genres.d-flex.flex-wrap.my-2(style="gap: 10px;")
                        h6#k-head Keyword:
                        div#keywords.d-flex.flex-wrap.my-2(style="gap: 10px;")
                hr
                div.row
                    h4 Overwiew
                    h6#tagline(style="font-style: italic;") &ldquo;#{movie.tagline}&ldquo;
                    p #{movie.overview}
            div#trailer.col2.ratio.ratio-16x9(style="background-color: black; border-radius: 20px;")
                iframe#trailer-iframe(src="https://www.youtube.com/embed/" + trailerKey, style="border-radius: 20px;", allowfullscreen)
        
        div
            div#castContainer
                h3.my-4 Cast
                div#cast.d-flex.flex-wrap(style="gap: 10px;")
                div.d-flex.justify-content-center.my-4
                    button.show-more.btn.btn-outline-secondary(type='button', style="font-size: 24px;")
                        svg.bi.bi-chevron-double-down(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')
                            path(fill-rule='evenodd' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')
                        |Show more

            div#videosContainer.my-4
                h3 Videos
                div#videos.d-flex.flex-wrap.justify-content-center(style="gap: 10px;")
                div.d-flex.justify-content-center.my-4
                    button.show-more.btn.btn-outline-secondary(type='button', style="font-size: 24px;")
                        svg.bi.bi-chevron-double-down(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')
                            path(fill-rule='evenodd' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')
                        |Show more

            div#postersContainer.my-4
                h3 Posters
                div#posters.d-flex.flex-wrap.justify-content-center(style="gap: 10px;")
                div.d-flex.justify-content-center.my-4
                    button.show-more.btn.btn-outline-secondary(type='button', style="font-size: 24px;")
                        svg.bi.bi-chevron-double-down(xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewbox='0 0 16 16')
                            path(fill-rule='evenodd' d='M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')
                            path(fill-rule='evenodd' d='M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z')
                        |Show more

            h3.my-4 Production Companies
            div#productionCompanies.flex-wrap
            
            h3.my-4 Production Countries
            div#productionCountries.flex-wrap

            div#similarContainer.my-4
                h3 Similar Movies
                div#similar.d-flex.flex-wrap.justify-content-center(style="gap: 10px;")
                
        
    script.
        let M = !{JSON.stringify(movie)};
        let K = !{JSON.stringify(keywords)};//Array di oggetti keyword (id, name)
        let config = !{JSON.stringify(config)};
        let C = !{JSON.stringify(cast)};//Array di oggetti cast (id, name, character, profile_path)
        let V = !{JSON.stringify(videos)};//Array di oggetti video (id, key, name, site, type)
        let P = !{JSON.stringify(posters)};//Array di oggetti poster (file_path)
        let logo = !{JSON.stringify(logos)}[0].file_path;
        let similar = !{JSON.stringify(similar)};//Array di oggetti movie (id, title, poster_path, release_date)

    script(src="../../js/movie-details.js")