extends layouts
include partials/watchnow/movie-card
block content
    .container.d-flex.flex-column.justify-content-between(style="height: 90vh")
        p sessione attuale: #{session_id}
        .container
            .row
                include partials/watchnow/exit
            .row
                .col.d-flex.justify-content-center
                    include partials/watchnow/cumulator
        .container
            .row
                .col.wn-initial-card-container(style="position: relative; min-height: 32rem;")
                    +movie-card(movies[0], config)(class="first-movie-card")
                    +movie-card(movies[1], config)(class="second-movie-card")
                    
        .container
            .row
                .col
                    include partials/watchnow/panel-initial
block scripts
    script.
        let movie_id1 = "#{movies[0].id}";
        let movie_id2 = "#{movies[1].id}";
        let prefix_poster_path = "#{config.images.base_url}" + "#{config.images.backdrop_sizes[0]}";
    script(src="/js/watchnow-initial.js")

